html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden; // Stop content overflow creating an unnecessary horizontal scroll-bar in IE
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
