@use "../abstracts/font-stacks";
@use "../abstracts/material-colors";

html {
  font-size: 16px;
}

body {
  font-size: 0.875rem;
  font-family: font-stacks.$sans-serif;
  line-height: 1.65;

  color: material-colors.$grey-800;
  background-color: white;

  word-break: break-word; // Non standard for WebKit
  word-wrap: break-word;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
