.animation-selector {
  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  margin: -1rem;
  padding-bottom: 4em;

  > * {
    margin: 1rem;
  }
}

.animation-selector__option {
  flex: 1 1 40%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.animation-selector__option--loona {
  flex-basis: 100%;
}
