@use '../abstracts/material-colors';

.control-bar {
  flex: 0 0;
  display: flex;
  flex-wrap: wrap;
  background-color: material-colors.$grey-100;

  box-shadow: inset 0 -1px 0 material-colors.$grey-400;

  > * {
    margin: 0.5rem;
  }
}

.control-bar__duration {
  width: 150px;
}

.control-bar__width {
  width: 120px;
}

.control-bar__theme {
  width: 250px;
}

.control-bar__column {
  display: flex;
  flex-direction: column;
}

.control-bar__divider {
  display: block;
  position: relative;

  &::after {
    display: block;
    content: '';

    width: 1px;
    height: 100%;
    background-color: material-colors.$grey-400;
  }
}

.control-bar__buttons {
  display: flex;
  align-items: center;

  margin-left: auto;

  > * {
    margin-left: 1em;
    margin-right: 1em;
  }
}
