@use '../abstracts/member-colors';

$_text-timing-function: cubic-bezier(0.8, 0, 1, 1);
$_crescent-timing-function: cubic-bezier(0, 0.5, 0.5, 1);

.loona {
  width: 100%;
  height: 100%;

  max-width: 100%;
  max-height: 100%;
}

.loona--animating,
.loona__o1--animating,
.loona__n--animating,
.loona__o2--animating,
.loona__slash--animating,
.loona__a--animating,
.loona__l--animating,
.loona__circle--animating,
.loona__crescent--animating,
.loona__glyphs--animating {
  animation-fill-mode: forwards;
}

.loona--animating {
  animation-name: loona-logo-animation;
  animation-timing-function: steps(1, end);
  will-change: background-color;
}

.loona__l,
.loona__o1,
.loona__o2,
.loona__n,
.loona__a,
.loona__slash {
  opacity: 0;
}

.loona__o1--animating {
  animation-name: loona-o1-animation;
  transform-box: fill-box;
  transform-origin: center;
  will-change: opacity, stroke, transform, animation-timing-function;
}

.loona__n--animating {
  animation-name: loona-n-animation;
  transform-box: fill-box;
  transform-origin: left bottom;
  will-change: opacity, stroke, transform, animation-timing-function;
}

.loona__o2--animating {
  animation-name: loona-o2-animation;
  transform-box: fill-box;
  transform-origin: center;
  will-change: opacity, stroke, transform, animation-timing-function;
}

.loona__l--animating {
  animation-name: loona-l-animation;
  transform-box: fill-box;
  transform-origin: center;
  will-change: opacity, stroke, transform, animation-timing-function;
}

.loona__a--animating {
  animation-name: loona-a-animation;
  transform-box: fill-box;
  transform-origin: center;
  will-change: opacity, stroke, transform, animation-timing-function;
}

.loona__slash--animating {
  animation-name: loona-slash-animation;
  transform-box: fill-box;
  transform-origin: center;
  will-change: opacity, stroke, transform, animation-timing-function;
}

.loona__circle--animating {
  animation-name: loona-circle-animation;
  transform-box: fill-box;
  transform-origin: center;
  will-change: fill;
}

.loona__circle--animating.loona__circle--ot12 {
  animation-name: loona-circle-animation-ot12;
  animation-timing-function: steps(1, end);
}

.loona__circle--animating.loona__circle--ot12-reverse {
  animation-name: loona-circle-animation-ot12-reverse;
  animation-timing-function: steps(1, end);
}

.loona__crescent--animating {
  transform-box: fill-box;
  transform-origin: center;
  will-change: transform, animation-timing-function;
}

.loona__crescent--ltr.loona__crescent--animating {
  animation-name: loona-crescent-animation-ltr;
}

.loona__crescent--rtl.loona__crescent--animating {
  animation-name: loona-crescent-animation-rtl;
}

.loona__glyphs--animating {
  animation-name: loona-glyphs-animation;
  transform-box: view-box;
  transform-origin: center;
}

@keyframes loona-logo-animation {
  0% {
    background-color: var(--color-bg-start);
  }

  57% {
    background-color: var(--color-bg-end);
  }

  100% {
    background-color: var(--color-bg-end);
  }
}

@keyframes loona-o1-animation {
  0% {
    opacity: 0;
    fill: var(--color-loona-start);
  }

  1% {
    opacity: 0;
  }

  2% {
    opacity: 0.6;
    transform: scale3d(0.9, 0.9, 1);
  }

  3% {
    opacity: 1;
  }

  5% {
    transform: none;
  }

  42% {
    transform: none;
    animation-timing-function: $_text-timing-function;
  }

  56% {
    fill: var(--color-loona-start);
  }

  57% {
    fill: var(--color-loona-end);
  }

  60% {
    transform: translate3d(19%, 147%, 0);
  }

  99% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }

  100% {
    opacity: 0;
    fill: var(--color-loona-end);
    transform: translate3d(19%, 147%, 0);
  }
}

@keyframes loona-n-animation {
  0% {
    opacity: 0;
    fill: var(--color-loona-start);
  }

  5% {
    opacity: 0;
  }

  6% {
    opacity: 0.6;
    transform: rotate3d(0, 0, 1, 70deg);
  }

  8% {
    opacity: 1;
  }

  10% {
    transform: none;
  }

  42% {
    transform: none;
    animation-timing-function: $_text-timing-function;
  }

  56% {
    fill: var(--color-loona-start);
  }

  57% {
    fill: var(--color-loona-end);
  }

  60% {
    transform: rotate3d(0, 0, 1, 90deg) translate3d(45%, 16%, 0);
  }

  99% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }

  100% {
    opacity: 0;
    fill: var(--color-loona-end);
    transform: rotate3d(0, 0, 1, 90deg) translate3d(45%, 16%, 0);
  }
}

@keyframes loona-o2-animation {
  0% {
    opacity: 0;
    fill: var(--color-loona-start);
  }

  7% {
    opacity: 0;
  }

  8% {
    opacity: 0.6;
    transform: translate3d(-33%, 0, 0);
  }

  9% {
    opacity: 1;
  }

  12% {
    transform: none;
  }

  42% {
    transform: none;
    animation-timing-function: $_text-timing-function;
  }

  56% {
    fill: var(--color-loona-start);
  }

  57% {
    fill: var(--color-loona-end);
  }

  60% {
    transform: translate3d(-95%, 3%, 0);
  }

  99% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }

  100% {
    opacity: 0;
    fill: var(--color-loona-end);
    transform: translate3d(-95%, 3%, 0);
  }
}

@keyframes loona-l-animation {
  0% {
    opacity: 0;
    fill: var(--color-loona-start);
  }

  13% {
    opacity: 0;
  }

  14% {
    opacity: 0.6;
    transform: rotate3d(0, 0, 1, -80deg);
  }

  16% {
    opacity: 1;
  }

  21% {
    transform: none;
  }

  42% {
    transform: none;
    animation-timing-function: $_text-timing-function;
  }

  56% {
    fill: var(--color-loona-start);
  }

  57% {
    fill: var(--color-loona-end);
  }

  60% {
    transform: translate3d(-345%, -145%, 0);
  }

  99% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }

  100% {
    opacity: 0;
    fill: var(--color-loona-end);
    transform: translate3d(-345%, -145%, 0);
  }
}

@keyframes loona-a-animation {
  0% {
    opacity: 0;
    fill: var(--color-loona-start);
  }

  15% {
    opacity: 0;
  }

  16% {
    opacity: 0.6;
    transform: translate3d(0, 20%, 0);
  }

  18% {
    opacity: 1;
  }

  20% {
    transform: none;
  }

  42% {
    transform: none;
    animation-timing-function: $_text-timing-function;
  }

  56% {
    fill: var(--color-loona-start);
  }

  57% {
    fill: var(--color-loona-end);
  }

  60% {
    transform: translate3d(251%, -147%, 0);
  }

  99% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }

  100% {
    opacity: 0;
    fill: var(--color-loona-end);
    transform: translate3d(251%, -147%, 0);
  }
}

@keyframes loona-slash-animation {
  0% {
    opacity: 0;
    fill: var(--color-slash-start);
  }

  18% {
    opacity: 0;
  }

  19% {
    opacity: 0.6;
    transform: rotate3d(0, 0, 1, 70deg) scale3d(0.6, 0.6, 1);
  }

  21% {
    opacity: 1;
  }

  23% {
    transform: none;
  }

  42% {
    transform: none;
    animation-timing-function: $_text-timing-function;
  }

  56% {
    fill: var(--color-slash-start);
  }

  57% {
    fill: var(--color-slash-end);
  }

  60% {
    transform: translate3d(216%, 1%, 0);
  }

  99% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }

  100% {
    opacity: 0;
    fill: var(--color-slash-end);
    transform: translate3d(216%, 1%, 0);
  }
}

@keyframes loona-circle-animation {
  0% {
    fill: none;
  }

  56% {
    fill: none;
  }

  57% {
    fill: var(--color-eclipse-start);
  }

  100% {
    fill: var(--color-eclipse-end);
  }
}

@keyframes loona-circle-animation-ot12 {
  0% {
    fill: none;
  }

  56% {
    fill: none;
  }

  57% {
    fill: member-colors.$heejin;
  }

  58% {
    fill: member-colors.$heejin;
  }

  59% {
    fill: member-colors.$hyunjin;
  }

  60% {
    fill: member-colors.$hyunjin;
  }

  61% {
    fill: member-colors.$haseul;
  }

  62% {
    fill: member-colors.$haseul;
  }

  63% {
    fill: member-colors.$yeojin;
  }

  64% {
    fill: member-colors.$yeojin;
  }

  65% {
    fill: member-colors.$vivi;
  }

  66% {
    fill: member-colors.$vivi;
  }

  67% {
    fill: member-colors.$kim-lip;
  }

  68% {
    fill: member-colors.$kim-lip;
  }

  69% {
    fill: member-colors.$jinsoul;
  }

  70% {
    fill: member-colors.$jinsoul;
  }

  71% {
    fill: member-colors.$choerry;
  }

  72% {
    fill: member-colors.$choerry;
  }

  73% {
    fill: member-colors.$yves;
  }

  74% {
    fill: member-colors.$yves;
  }

  75% {
    fill: member-colors.$chuu;
  }

  76% {
    fill: member-colors.$chuu;
  }

  77% {
    fill: member-colors.$go-won;
  }

  78% {
    fill: member-colors.$go-won;
  }

  79% {
    fill: member-colors.$olivia-hye;
  }

  80% {
    fill: member-colors.$olivia-hye;
  }

  100% {
    fill: member-colors.$olivia-hye;
  }
}

@keyframes loona-circle-animation-ot12-reverse {
  0% {
    fill: none;
  }

  56% {
    fill: none;
  }

  57% {
    fill: member-colors.$olivia-hye;
  }

  58% {
    fill: member-colors.$olivia-hye;
  }

  59% {
    fill: member-colors.$go-won;
  }

  60% {
    fill: member-colors.$go-won;
  }

  61% {
    fill: member-colors.$chuu;
  }

  62% {
    fill: member-colors.$chuu;
  }

  63% {
    fill: member-colors.$yves;
  }

  64% {
    fill: member-colors.$yves;
  }

  65% {
    fill: member-colors.$choerry;
  }

  66% {
    fill: member-colors.$choerry;
  }

  67% {
    fill: member-colors.$jinsoul;
  }

  68% {
    fill: member-colors.$jinsoul;
  }

  69% {
    fill: member-colors.$kim-lip;
  }

  70% {
    fill: member-colors.$kim-lip;
  }

  71% {
    fill: member-colors.$vivi;
  }

  72% {
    fill: member-colors.$vivi;
  }

  73% {
    fill: member-colors.$yeojin;
  }

  74% {
    fill: member-colors.$yeojin;
  }

  75% {
    fill: member-colors.$haseul;
  }

  76% {
    fill: member-colors.$haseul;
  }

  77% {
    fill: member-colors.$hyunjin;
  }

  78% {
    fill: member-colors.$hyunjin;
  }

  79% {
    fill: member-colors.$heejin;
  }

  80% {
    fill: member-colors.$heejin;
  }

  100% {
    fill: member-colors.$heejin;
  }
}

@keyframes loona-crescent-animation-rtl {
  0% {
    transform: translate3d(1700px, 0, 0);
  }

  57% {
    transform: translate3d(1700px, 0, 0);
    animation-timing-function: $_crescent-timing-function;
  }

  82% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes loona-crescent-animation-ltr {
  0% {
    transform: translate3d(-1700px, 0, 0);
  }

  57% {
    transform: translate3d(-1700px, 0, 0);
    animation-timing-function: $_crescent-timing-function;
  }

  82% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes loona-glyphs-animation {
  0% {
    transform: none;
  }

  66% {
    transform: none;
  }

  96% {
    transform: scale3d(0.98, 0.98, 1);
  }

  100% {
    transform: scale3d(0.98, 0.98, 1);
  }
}
