@use '../abstracts/material-colors';

.index-page {
  margin: 0 auto;
  padding: 0 1rem;

  max-width: 900px;
}

.index-page__title {
  margin: 0;
  padding: 1em 0;

  font-size: 2rem;
  font-weight: 600;
  color: material-colors.$grey-800;
  text-align: center;
}
