<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <title>LOONA Intro Generator</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="keywords" content="loona loonatheworld LOOΠΔ ㅇㄷㅇㅅㄴ girl of the month 이달의 소녀 animated svg css intro introduction animation generator" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Michael Bull <https://www.michael-bull.com>" />
  </head>

  <body class="index-page">
    <h1 class="index-page__title">Choose an Intro Sequence</h1>

    <main class="animation-selector">

      <div class="animation-selector__option animation-selector__option--loona">
        <a class="animation-choice" href="loona.html" aria-label="LOONA">
          <div class="animation-choice__background animation-choice__background--loona"></div>
          <div class="animation-choice__label">LOOΠΔ</div>
        </a>
      </div>

      <div class="animation-selector__option">
        <a class="animation-choice" href="yyxy.html" aria-label="yyxy">
          <div class="animation-choice__background animation-choice__background--yyxy"></div>
          <div class="animation-choice__label">
            youth youth by young
          </div>
        </a>
      </div>

      <div class="animation-selector__option">
        <div class="animation-choice" aria-label="Odd Eye Circle">
          <div class="animation-choice__background animation-choice__background--oec"></div>
          <div class="animation-choice__label">
            Odd Eye Circle
            <br />
            (coming soon...)
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
