<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <title>LOONA Intro Generator</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="keywords" content="loona loonatheworld LOOΠΔ ㅇㄷㅇㅅㄴ girl of the month 이달의 소녀 animated svg css intro introduction animation generator" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Michael Bull <https://www.michael-bull.com>" />
  </head>

  <body>
    <main>
      <form class="control-bar">
        <div class="control-bar__duration">
          <div class="field">
            <label class="field__label" for="duration">Duration:</label>

            <input
              class="field__input"
              type="text"
              id="duration"
              name="duration"
              value="5s"
              placeholder="Duration (e.g. 20s, 4000ms)..."
            />
          </div>
        </div>

        <div class="control-bar__theme">
          <div class="field">
            <label class="field__label" for="theme">Theme:</label>

            <select class="field__input" name="theme" id="theme">
              <option value="default">Default</option>
              <option value="heejin">희진 (HeeJin)</option>
              <option value="hyunjin">현진 (HyunJin)</option>
              <option value="haseul">하슬 (HaSeul)</option>
              <option value="yeojin">여진 (YeoJin)</option>
              <option value="vivi">비비 (ViVi)</option>
              <option value="kim-lip">김립 (Kim Lip)</option>
              <option value="jinsoul">진솔 (JinSoul)</option>
              <option value="choerry">최리 (Choerry)</option>
              <option value="yves">이브 (Yves)</option>
              <option value="chuu">츄 (Chuu)</option>
              <option value="go-won">고원 (Go Won)</option>
              <option value="olivia-hye">올리비아 혜 (Olivia Hye)</option>
              <option value="1/3">1/3</option>
              <option value="yyxy">Youth Youth by Young (yyxy)</option>
              <option value="oec">오드아이써클 (Odd Eye Circle)</option>
            </select>
          </div>
        </div>

        <div class="control-bar__direction">
          <span>
            <label class="field__label">Eclipse direction:</label>
          </span>

          <div class="radio-button" title="The eclipse transitions from a full moon to crescent moon left-to-right">
            <input
              class="radio-button__input"
              type="radio"
              id="direction-ltr"
              name="direction"
              value="ltr"
            />

            <label class="radio-button__label" for="direction-ltr">Left-to-right</label>
          </div>

          <div class="radio-button" title="The eclipse transitions from a full moon to crescent moon right-to-left">
            <input
              class="radio-button__input"
              type="radio"
              id="direction-rtl"
              name="direction"
              value="rtl"
              checked
            />

            <label class="radio-button__label" for="direction-rtl">Right-to-left</label>
          </div>
        </div>

        <div class="control-bar__colors">
          <span>
            <label class="field__label">Eclipse:</label>
          </span>

          <div class="color-picker" title="The color of the eclipse when it first appears">
            <input
              class="color-picker__input"
              type="color"
              id="color-eclipse-start"
              name="color-eclipse-start"
              value="#FFCA14"
            />

            <label class="color-picker__label" for="color-eclipse-start">Start</label>
          </div>

          <div class="color-picker" title="The color of the eclipse when the animation has finished">
            <input
              class="color-picker__input"
              type="color"
              id="color-eclipse-end"
              name="color-eclipse-end"
              value="#FFCA14"
            />

            <label class="color-picker__label" for="color-eclipse-end">End</label>
          </div>
        </div>

        <div class="control-bar__colors">
          <span>
            <label class="field__label">Background:</label>
          </span>

          <div class="color-picker" title="The color of the background at the start of the animation">
            <input
              class="color-picker__input"
              type="color"
              id="color-bg-start"
              name="color-bg-start"
              value="#FFFFFF"
            />

            <label class="color-picker__label" for="color-bg-start">Start</label>
          </div>

          <div class="color-picker" title="The color of the background at the end of the animation">
            <input
              class="color-picker__input"
              type="color"
              id="color-bg-end"
              name="color-bg-end"
              value="#FFFFFF"
            />

            <label class="color-picker__label" for="color-bg-end">End</label>
          </div>
        </div>

        <div class="control-bar__colors">
          <span>
            <label class="field__label">LOOΠΔ:</label>
          </span>

          <div class="color-picker" title="The color of the LOOΠΔ text at the start of the animation">
            <input
              class="color-picker__input"
              type="color"
              id="color-loona-start"
              name="color-loona-start"
              value="#000000"
            />

            <label class="color-picker__label" for="color-loona-start">Start</label>
          </div>

          <div class="color-picker" title="The color of the LOOΠΔ text when it transitions to a single line">
            <input
              class="color-picker__input"
              type="color"
              id="color-loona-end"
              name="color-loona-end"
              value="#000000"
            />

            <label class="color-picker__label" for="color-loona-start">End</label>
          </div>
        </div>

        <div class="control-bar__colors">
          <span>
            <label class="field__label">&ldquo;/&rdquo;:</label>
          </span>

          <div class="color-picker" title="The color of the &ldquo;/&rdquo; at the start of the animation">
            <input
              class="color-picker__input"
              type="color"
              id="color-slash-start"
              name="color-slash-start"
              value="#BC1862"
            />

            <label class="color-picker__label" for="color-slash-start">Start</label>
          </div>

          <div class="color-picker" title="The color of the &ldquo;/&rdquo; text when it transitions to a single line">
            <input
              class="color-picker__input"
              type="color"
              id="color-slash-end"
              name="color-slash-end"
              value="#BC1862"
            />

            <label class="color-picker__label" for="color-slash-end">End</label>
          </div>
        </div>

        <div class="control-bar__buttons">
          <div class="control-bar__start">
            <button class="button button--icon" type="button" id="start" aria-label="Start" title="Start">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M8,5.14V19.14L19,12.14L8,5.14Z" />
              </svg>
            </button>
          </div>

          <div class="control-bar__github">
            <a class="button button--icon" id="github" aria-label="View on GitHub" title="View on GitHub" href="https://github.com/michaelbull/loona-intro-generator" target="_blank">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
              </svg>
            </a>
          </div>
        </div>
      </form>

      <div class="container">
        <%= require('./logo.svg') %>
      </div>
    </main>
  </body>
</html>
