// https://loonatheworld.fandom.com/wiki/LOONA#Members
$heejin: #F4028E;
$hyunjin: #FFCB07;
$haseul: #01954A;
$yeojin: #F47021;
$vivi: #F4A1B5;
$kim-lip: #EB1326;
$jinsoul: #1313D6;
$choerry: #7632A0;
$yves: #7A0332;
$chuu: #F7917E;
$go-won: #39BB9D;
$olivia-hye: #787A7D;
