$slow-in-fast-out-timing-function: cubic-bezier(1, 0, 0.4, 1);
$fast-in-slow-out-timing-function: cubic-bezier(0, 0.5, 0.5, 1);

$sans-serif-font-stack: (
  'Spoqa Han Sans Neo',
  Roboto, // Android, Chrome OS
  -apple-system, // iOS
  BlinkMacSystemFont, // macOS
  Segoe UI, // Windows
  Oxygen, // KDE
  Droid Sans, // Android
  Ubuntu, // Ubuntu
  Cantarell, // GNOME
  Open Sans, // any
  Helvetica Neue, // macOS
  sans-serif
);

// https://loonatheworld.fandom.com/wiki/LOONA#Members
$color-heejin: '#F4028E';
$color-hyunjin: '#FFCB07';
$color-haseul: '#01954A';
$color-yeojin: '#F47021';
$color-vivi: '#F4A1B5';
$color-kim-lip: '#EB1326';
$color-jinsoul: '#1313D6';
$color-choerry: '#7632A0';
$color-yves: '#7A0332';
$color-chuu: '#F7917E';
$color-go-won: '#39BB9D';
$color-olivia-hye: '#787A7D';
